/* scrollbar */
@tailwind base;
@tailwind components;
@tailwind utilities;



/* @import 'simplebar-react/dist/simplebar.min.css'; */


.grid-plans-container {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.css-9cz4cm .simplebar-wrapper {
        background-color: black !important;
}

.MuiContainer-root button,
.css-16m2pmx-MuiButtonBase-root-MuiButton-root {
    background-color: black !important;
    color: white;
}

.css-9cz4cm .simplebar-wrapper a {

    color: white;

}

nav a {
    color: whitesmoke;
}

nav a:hover {
    color: #a7a7a7 !important;
}
.points-container {

    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.points-container .point {
    display: flex;
    flex-flow: column;
    gap: 10px;
    border: 1px solid;
    width: fit-content;
    padding: 10px 25px;
}
.points-container  .active {

    background-color: #ffd0d0;
}

.point .location-text {
    display: flex;
    flex-flow: column;
}

.point .name {

    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    font-size: 19px;
}



.plan-chart h2,
.sale-chart h2 {

    font-weight: bold;
    font-size: 20px;
    text-align: center;
}